/* App-level styles */
.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  padding: 20px;
}

.App-main {
  display: flex;
  justify-content: center;
  align-items: center;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.Card {
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 240px;
  border-radius: 5px;
  margin:5px;
}

.TagSection {
  flex: 1;
  margin: 10px;
}
.Card h4 {
  margin: 0;
  font-size: 18px;
  text-align: left;
}

.Card p {
  margin: 10px 0;
  font-size: 14px;
  text-align: left;
}

.content{
  display: flex;
  justify-content: left;
  align-items: center;
}
.dropdown-div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: #ccc;
}

.dropdown {
  margin-right: 10px;
}

.dropdown label {
  margin-right: 5px;
}

.dropdown select {
  padding: 5px;
  font-size: 14px;
}

.SubGroup {
  margin-top: 20px;
}

.SubGroup h3 {
  margin: 0;
  font-size: 18px;
}


.SectionContainer {
  display: flex;
  overflow-x: auto;
}

.Section {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 5px;
  min-width: 150px; 
}

.CardContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}